<html ng-app="cookbookApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
  <script src="application.js"></script>
</head>
<body>
  <div ng-controller="FirstController">
    <ul>
      <li ng-repeat="item in items" ng-bind="item"></li>
    </ul>
  </div>

  <div ng-controller="SecondController">
    <ul>
      <li ng-repeat="item in items" ng-bind="item"></li>
    </ul>
    <button ng-click="addItem()">Add item</button>
  </div>
</body>
</html>