<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>AngularJS Cookbook → Start serveral events in parallel</title>
  <link href="/assets/stylesheets/application.css" rel="stylesheet" type="text/css" />
  <script src="/assets/javascripts/application.js" type="text/javascript"></script>
</head>
<body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39010393-4', 'auto');
  ga('send', 'pageview');
</script>

  <nav class="navbar navbar-light bg-transparent">
  <div class="container">
    <a class="navbar-brand" href="/">AngularJS Cookbook</a>
    <!--<form class="form-inline navbar-form pull-right">-->
      <!--<input class="form-control" type="text" placeholder="Search">-->
      <!--<button class="btn btn-success-outline" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav>


  <div class="header-bg" style="background-color: #3F51B5;"></div>

  <div class="container">
    <header>
      <div class="row" style="margin-top: 40px;">
        <div class="col-xs-12 col-md-8">
          <h1 class="page-title" style="margin-top: 0px;">
            <a href="/">Start serveral events in parallel</a>
          </h1>
          <p class="lead" style="color: #ccc;"></p>
          <p style="color: #aaa;">by Sascha Brink</p>

          <a target="_blank" class="btn btn-success" href="https://leanpub.com/angularjs-cookbook">Buy this book</a>
        </div>
        <div class="hidden-xs hidden-sm col-md-4 text-center">
          <a target="_blank" href="https://leanpub.com/angularjs-cookbook"><img class="img-shadowed" src="/assets/images/cover-sm.jpg" /></a>
        </div>
      </div>
    </header>

    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
        
<h2 id="problem">Problem</h2>

<p>You have several async events, e.g. calls to serveral external apis.  If one has failed, you cannot work. Therefore you have to wait for them all. Here we show an easy way to do it.</p>

<h2 id="solution">Solution</h2>

<p>With callbacks, it’s hard to start several asynchronous tasks at once and synchronize the results later. With promises, it is much easy.</p>

<p>In this example, we use two promises called <code>firstPromise</code> and <code>secondPromise</code>. We create the first promise with a defer and have to use two functions on the scope to either resolve or reject it. The second promise we create with <code>$q.when</code>. This function creates a promise that is resolved immediately with the string we pass to it (‘Resolved another promise’).</p>

<p>After that, we can use <code>$q.all</code> to call several promises in parallel. To do that, we pass an array of promises to <code>$q.all</code>. The result itself is again a promise. The success function contains an array with the result of all promises. The error callback is only the error result of the promise that failed first.</p>

<p>Again in short:</p>

<ul>
  <li><strong>success:</strong> returns an array with the result of every promise</li>
  <li><strong>error:</strong> returns the result of the first failing promise</li>
</ul>

<pre><code>angular.module('cookbookApp', [])
  .controller('MainController', function($scope, $q) {
    var defer = $q.defer();
    var firstPromise = defer.promise;
    var secondPromise = $q.when('Resolved second promise');

    $scope.resolve = function() {
      defer.resolve('Resolved first promise');
    };
    $scope.reject = function() {
      defer.reject('Error in first promise');
    };

    $q.all([firstPromise, secondPromise]).then(function(messages) {
      $scope.resultAll =  messages.join(' and ');
    }, function(reason) {
      $scope.resultAll = reason;
    });
  });
</code></pre>

<pre><code>&lt;html ng-app="cookbookApp"&gt;
&lt;head&gt;
  &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"&gt;&lt;/script&gt;
  &lt;script src="application.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body ng-controller="MainController"&gt;
  &lt;fieldset&gt;
    &lt;legend&gt;Promise&lt;/legend&gt;
    &lt;button ng-click="resolve()"&gt;Resolve&lt;/button&gt;
    &lt;button ng-click="reject()"&gt;Reject&lt;/button&gt;{{resultOne}}
  &lt;/fieldset&gt;

  &lt;fieldset&gt;
    &lt;legend&gt;Result all&lt;/legend&gt; {{resultAll}}
  &lt;/fieldset&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>



          <h2>Code</h2>

          <!-- Nav tabs -->
<a class="btn btn-info pull-right" target="_blank" href="/recipes/start-serveral-events-in-parallel/code/">            <span class="fa fa-clone"></span> New window
</a>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#tab-result" role="tab" data-toggle="tab">Result</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#application-js" role="tab" data-toggle="tab">application.js</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#index-html" role="tab" data-toggle="tab">index.html</a>
              </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content" style="min-height: 300px;">
            <div role="tabpanel" class="tab-pane active" id="tab-result">
              <iframe src="code/" id="result"></iframe>
            </div>

              <div role="tabpanel" class="tab-pane" id="application-js">
                <pre><code>angular.module(&#x27;cookbookApp&#x27;, [])
  .controller(&#x27;MainController&#x27;, function($scope, $q) {
    var defer = $q.defer();
    var firstPromise = defer.promise;
    var secondPromise = $q.when(&#x27;Resolved second promise&#x27;);

    $scope.resolve = function() {
      defer.resolve(&#x27;Resolved first promise&#x27;);
    };
    $scope.reject = function() {
      defer.reject(&#x27;Error in first promise&#x27;);
    };

    $q.all([firstPromise, secondPromise]).then(function(messages) {
      $scope.resultAll =  messages.join(&#x27; and &#x27;);
    }, function(reason) {
      $scope.resultAll = reason;
    });
  });</code></pre>
              </div>
              <div role="tabpanel" class="tab-pane" id="index-html">
                <pre><code>&lt;html ng-app=&quot;cookbookApp&quot;&gt;
&lt;head&gt;
  &lt;script src=&quot;https:&#x2F;&#x2F;ajax.googleapis.com&#x2F;ajax&#x2F;libs&#x2F;angularjs&#x2F;1.3.0&#x2F;angular.min.js&quot;&gt;&lt;&#x2F;script&gt;
  &lt;script src=&quot;application.js&quot;&gt;&lt;&#x2F;script&gt;
&lt;&#x2F;head&gt;
&lt;body ng-controller=&quot;MainController&quot;&gt;
  &lt;fieldset&gt;
    &lt;legend&gt;Promise&lt;&#x2F;legend&gt;
    &lt;button ng-click=&quot;resolve()&quot;&gt;Resolve&lt;&#x2F;button&gt;
    &lt;button ng-click=&quot;reject()&quot;&gt;Reject&lt;&#x2F;button&gt;{{resultOne}}
  &lt;&#x2F;fieldset&gt;

  &lt;fieldset&gt;
    &lt;legend&gt;Result all&lt;&#x2F;legend&gt; {{resultAll}}
  &lt;&#x2F;fieldset&gt;
&lt;&#x2F;body&gt;
&lt;&#x2F;html&gt;</code></pre>
              </div>
          </div>
      </div>
    </div>
  </div>

  <br>

<footer class="footer">
  <div class="container">
    <hr>
    <ul class="list-inline">
      <li><a href="http://angularjs.de/datenschutz" target="_blank">Datenschutz</a></li>
      <li><a href="http://angularjs.de/impressum" target="_blank">Impressum</a></li>
    </ul>
  </div>
</footer>

</body>
</html>
